<p id="notice"><%= notice %></p>

<p>
  <strong>First:</strong>
  <%= @apple.first %>
</p>

<p>
  <strong>Second:</strong>
  <%= @apple.second %>
</p>

<%= link_to 'Edit', edit_apple_path(@apple) %> |
<%= link_to 'Back', apples_path %>
