<p id="notice"><%= notice %></p>

<p>
  <strong>First:</strong>
  <%= @table.first %>
</p>

<p>
  <strong>Second:</strong>
  <%= @table.second %>
</p>

<%= link_to 'Edit', edit_table_path(@table) %> |
<%= link_to 'Back', tables_path %>
